body {
    background-color: #f4f4f4;
}

/* header */

/* footer */

/* base template */

/* home page  */
#hero-image {
    max-width: 100%;
    height: auto;
}

/* post page  */

.post-card{
    height:20rem;
    width:100% !important;
}

/* details template */


/* media queries */

@media (max-width: 397px) {
    .homepage-btn {
        width: 30% !important;
        font-size: auto !important;
        padding: 0px !important;
    }
}

@media (min-width: 398px) {
    .homepage-btn {
        width: 30% !important;
        font-size: auto !important;
        padding: 0px !important;
    }
}