body {
    background-color: #F9FAFC;
}
/* Navigation */


/* Footer */

footer{
    font-size: 20px;
}

/* index page content */

#hero-image{
    width: 395.75px;
}

/* details page */

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}