{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3 mb-3">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/logoblack.png' %}">
                {% else %}
                <img class="card-img-top" src="{{ post.featured_image.url }}">
                {% endif %}
                <div class="card-body d-flex justify-content-between mb-3">
                    <p><i class="far fa-heart"></i></p>
                    <a href="{% url 'art_details' post.slug %}">
                        <h5 class="card-title text-center">Tile: {{ post.title }}</h5>
                    </a>
                    <p><i class="far fa-solid fa-comment-dots"></i></p>
                </div>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="d-flex justify-content">
                <p><i class="far fa-solid fa-comment-dots"></i></p>
                <h3  class="mb-3">Comments</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, sunt corrupti dignissimos voluptate maxime
                explicabo distinctio ab quae accusantium culpa quisquam nostrum. Aut obcaecati corrupti quidem beatae
                reiciendis quos aliquam.</p>
        </div>
        <!-- template -->
    </div>
</div>

    {% endblock content %}