{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3 mb-3">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img" src="{% static 'images/logoblack.png' %}">
                {% else %}
                <img class="card-img" src="{{ post.featured_image.url }}">
                {% endif %}
                <div class="card-body d-flex justify-content-between mb-3">
                    {% if user.is_authenticated %}
                    <form action="{% url 'art_like' post.slug %}" method="post">
                        {% csrf_token %}
                        {% if liked %}
                        <button id="like-button" type="submit" name="user_art_like" value="{{post.slug}}"><p><i class="fas fa-heart"></i></p></button>{{ post.total_number_of_likes }}
                        {% else %}
                        <button id="unlike-button" type="submit" name="user_art_like" value="{{post.slug}}"><p><i class="far fa-heart"></i></p></button>{{ post.total_number_of_likes }}
                        {% endif %}
                    </form>
                    {% else %}

                    <span><p><i class="far fa-heart"></i></p></span>{{ post.total_number_of_likes }}
                    {% endif %}
                    <a href="{% url 'art_details' post.slug %}">
                        <h5 class="card-title text-center">Tile: {{ post.title }}</h5>
                    </a>
                    <p><i class="far fa-solid fa-comment-dots"></i></p>
                </div>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="mb-3 card-title">Comments</h3>
                    </div>
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p>
                            {{ comment.name }}
                            :
                            {{ comment.body }}
                            <span class=" text-muted">
                                {{ comment.created_on }}
                            </span>
                    </div>
                    {% endfor %}
                    <p>
                        {% if user.is_authenticated %}
                        <h4 class="text-center">Join the Conversation:</h4>
                        <p>{{ user.username }} says:</p>
                        <form method="post">
                            {{ user_comments| crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn">comment</button>
                        </form>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}