{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card mt-3 post-card-detail">
                <!-- card image if no image is assigned to the post a default image from static file will display -->
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img" src="{% static 'images/logoblack.png' %}">
                {% else %}
                <img class="card-img" src="{{ post.featured_image.url }}">
                {% endif %}
                <!-- card body containing the title and the number of likes a post has -->
                <div class="card-body d-flex justify-content-between body-container-detail">
                    <!-- form for only signed in users to like post -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'art_like' post.slug %}" method="post">
                        {% csrf_token %}
                        {% if liked %}
                        <button id="like-button" type="submit" name="user_art_like" value="{{post.slug}}">
                            <p><i class="fas fa-heart"></i></p>
                        </button>{{ post.total_number_of_likes }}
                        {% else %}
                        <button id="unlike-button" type="submit" name="user_art_like" value="{{post.slug}}">
                            <p><i class="far fa-heart"></i></p>
                        </button>{{ post.total_number_of_likes }}
                        {% endif %}
                    </form>
                    {% else %}
                    <span>
                        <p><i class="far fa-heart"></i><span
                                class="number-of-likes">{{ post.total_number_of_likes }}</span></p>
                    </span>
                    {% endif %}
                    <h5 class="card-title text-center">{{ post.title }}</h5>
                    <p><i class="far fa-solid fa-comment-dots"></i></p>
                </div>
            </div>
        </div>
        <!-- comment section and comment form -->
        <div class="col-12 col-md-6 col-lg-4 my-3">
            <div class="card post-card-detail">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="mb-3 card-title">Comments</h3>
                    </div>
                    <!-- loops through comments and displays them in oder of date posted -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p>
                            {{ comment.name }}
                            :
                            {{ comment.body }}
                            <span class=" text-muted">
                                {{ comment.created_on }}
                            </span>
                            <a href="{% url 'edit' comment.id %}"><i class="fas fa-edit"></i></a>
                            <a href=""><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endfor %}
                    <p>
                        <!-- comment form, only users who are authenticated can comment on post -->
                        {% if user.is_authenticated %}
                        <form class="comment-form" method="post">
                            <h4 class="text-center" style="text-align: center;">Edit comment:</h4>
                            <p>{{ user.username }} says:</p>
                            {{ user_comments| crispy }}
                            {% csrf_token %}
                            <button type="submit"><i class="fas fa-check"></i></button>
                        </form>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}