{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <!-- home page content  -->
        <h1 class="text-center welcome-text mt-4">Welcome to the art page of
            <br>
            Inotila Opoeli Nghaamwa
        </h1>
        <div class="row d-flex justify-content-center">
            <div id="hero-image-container" class="image-container text-center">
                <img src="{% static 'images/logoblack.png' %}" id="hero-image" class="img-fluid" alt="logo">
            </div>
            <div class="row text-center">
                <p>this is the offical art page of Inotila Opoeli Nghaamwa. Inotila is a Namibian artist currently
                    residing in Sweden. <br> you will find his paintings, ink and pencil drawings. Be sure to sign to
                    receive the latest updates on his work and,to be able to like and comment on his work.<br>All the art
                    works found here were created by
                    him and their intellectual property belongs to him</p>
            </div>
            <div class="row d-flex justify-content-center text-center home-btn-container">
                <div class="col">
                    <button type="button" class="btn btn-dark homepage-btn"
                        onclick="location.href='{% url 'painting' %}'">paintings</button>
                    <button type="button" class="btn btn-dark homepage-btn"
                        onclick="location.href='{% url 'ink' %}'">ink</button>
                    <button type="button" class="btn btn-dark homepage-btn"
                        onclick="location.href='{% url 'pencil' %}'">pencil</button>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}