{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Art post Column -->
        <h1 class="text-center welcome-text mt-4">Paintings</h1>
    </div>
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="image-container">
                    {% for post in post_list %}
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                    {% else %}
                    <img src=" {{ post.featured_image.url }}">
                    {% endif %}
                    <p class="title">Tile: {{ post.title }}</p>
                    {% if forloop.counter|divisibleby:3%}
                </div>
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{%endblock%}